{% extends "base.html" %}

{% block content %}

<h3>Welcome to TapIn, {{username}}!</h3>
        <p>
            TapIn is an exciting online, cross platform, NFC and QR-coding, mobile, social application. You can use it
            for pub crawls and scavenger hunts. Simply find TapIns and TapIn using NFC (or QR codes).
        </p>

        <h3>Pub Mode</h3>
        <p>TapIn when you buy a drink to record your progress (and get a discount). TapIn will track your progress and tell you
        about the next Pub.</p>

        <h3>Scavenger Mode</h3>
        <p>Compete with others to solve clues and reach locations in the fastest time possible.</p>

        <div style="margin:auto; max-width: 300px;"><img src="/img/bob.png" style="max-width: 300px;" alt="bob"/></div>

<a href="https://github.com/domoritz/bob-was-here"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

{% endblock %}