{% extends "base.html" %}

{% block header %}
<script src="/js/geolocation.js"></script>
<script src="/js/timeago.js" type="text/javascript" />
<script src="/js/format_dates.js" type="text/javascript" />
{% endblock %}


{% block title %}
<a href="/user" data-icon="star" class="ui-btn-right" data-ajax="false" data-iconpos="notext" data-inline="true">{{ user.nickname() }}</a>
{% endblock %}

{% block content %}

<span id="tapin" style="display:none">{{tapin}}</span>

<h2>
{{location.name}}
</h2>

<p>
{{location.description}}
</p>

<h3>People who have tapped-in here before</h3>
<ul data-role="listview" data-filter="true" data-filter-placeholder="Filter TapIns..." data-inset="true">
	{% for x in tapins %}
		<li data-role="list-divider">{{x|date}}</li>
		{% for tapin in tapins[x] %}
			{% if tapin.user == user %}
				<li data-theme="b">
			{% else %}
				<li>
			{% endif %}
		    	<h3>{{ tapin.user.nickname() }}</h3>
				<p class="ui-li-aside">on <time class="timeago" datetime="{{tapin.date|iso}}"></time></p>
		    </li>
		{% endfor %}
	{% endfor %}

	{% if not tapins %}
	<li>Currently empty</li>
	{% endif %}
</ul>

{% endblock %}