{% extends "base.html" %}


{% block title %}
<a href="/user" data-icon="gear" class="ui-btn-right" data-iconpos="notext" data-inline="true">{{ user.nickname() }}</a>
{% endblock %}

{% block content %}

<h2>
{{location.name}}
</h2>

<p>
{{location.description}}
</p>

<h3>People who have tapped-in here before</h3>
<ul data-role="listview">
	{% for tapin in tapins %}
    <li>
    	<h3>{{ tapin.user.nickname() }}</h3>
		<p>on <strong>{{tapin.date|date}}</strong></p>
    </li>
	{% endfor %}

	{% if not tapins %}
	<li>Currently empty</li>
	{% endif %}
</ul>

{% endblock %}