{% extends "base.html" %}


{% block header %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.ie.css" />
<![endif]-->
<script src="http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.js"></script>

<script src="/js/map.js" async defer></script>

<script type="text/javascript" charset="utf-8" id="mappoints">
var locations = {{ pointjson }}
</script>

{% endblock %}

{% block content %}
<h2>
{{user.nickname()}}
</h2>

<p>
{{user.email}}
</p>

<div id="map"></div>

<h3>Places you have tapped-in</h3>
<ol data-role="listview" data-inset="true">
	{% for tapin in tapins %}
    <li>
    	<a href="/location/{{tapin.location.slug}}">{{tapin.location.name}} on {{tapin.date|date}} at {{tapin.date|time}}</a>
    </li>
	{% endfor %}
	{% if not tapins %}
	<li>You haven't tapped-in anywhere yet. </li>
	{% endif %}
</ol>
{% endblock %}